body{
    background-image: url(../IMGs/village-konoha.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width:30vw;
    min-width: 300px;
    min-height: 500px;
    max-width: 500px;
    max-height: 500px;
    padding-left: 33%;
    padding-right: 33%;
    margin-top: 30px;
    font-family: 'Poppins',sans-serif;
    font-size: 90%;
}
main, header, footer{
    display: grid;
    justify-content: center;
    text-align: center;
    background-color:rgba(169, 169, 169, 0.515);
    padding: 3%;
}


/*IDs*/
#formEntry{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#button{
    width: 10vw;
    justify-content: center;
}

#itemform,select,input{
    background-color: rgba(0, 0, 0, 0.582);
    border-radius: 10px;
    color: white;
    margin-top: 5px;
    display: inline;
    text-align: center;
}

#logo{
    width: 15vw;
}

#avatar_imgs{
    background-color: rgba(0, 0, 0, 0.311);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(2,1fr);
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 1px solid black;
}

#avatar_select{
    grid-column: 1;
    grid-row: 1 / span 2;
    width: 15vw;
    border: 1px solid black;
    border-radius: 10px;
}
#error{
    color: red;
    font-size:80%;
    margin-top: 5px;
}
#major_avatar{
    width: 15vw;
}

/*CLASS*/
.itemform{
    display: flex;
    flex-direction: column;
    width: 20vw;
    padding: 10px;
}

.avatar{
    width: 5vw;
}